.geo-admin-container {
  .page-title,
  .page-title-separator {
    margin-top: 10px;
  }

  .title-text {
    line-height: 34px;
  }

  .page-subtitle {
    margin-bottom: 24px;
  }

  .health-message {
    padding: 4px 8px 1px;
    background-color: $red-100;
    color: $red-500;
    border-radius: $border-radius-default;
    font-weight: normal;
  }
}

.well-list.geo-nodes {
  li {
    position: relative;

    &:hover {
      background: $white-light;
    }

    &.node-disabled,
    &.node-disabled:hover {
      background-color: $gray-lightest;
    }
  }
}

.node-badge {
  color: $white-light;
  display: inline-block;
  margin-left: 5px;
  padding: 0 5px;
  border-radius: 3px;

  &.primary-node {
    background-color: $blue-300;
  }

  &.current-node {
    background-color: $green-400;
  }
}

.geo-node-healthy {
  color: $gl-success;
}

.geo-node-unhealthy {
  color: $gl-danger;
}

.geo-node-offline {
  color: $theme-gray-950;
}

.geo-node-disabled {
  color: $gray-darkest;
}

.geo-node-unknown {
  color: $gray-darkest;
}

.geo-nodes {
  .node-url-warning {
    fill: $gl-warning;
  }
}

.node-details-list {
  .node-detail-item {
    margin-top: 14px;

    &:first-child {
      margin-top: 0;
    }

    .node-detail-title,
    .node-detail-value {
      padding-left: $gl-col-padding;
      padding-right: $gl-col-padding;
    }

    .node-detail-title {
      color: $theme-gray-700;
    }

    .node-detail-value {
      margin-top: 4px;
    }

    .node-detail-value-bold {
      font-weight: $gl-font-weight-bold;
    }

    .node-detail-value-error {
      color: $gl-danger;
    }

    .btn-show-advanced {
      padding-left: 0;
      border: 0;
    }

    .node-health-status {
      display: inline-flex;

      .status-text {
        line-height: 18px;
      }
    }

    .node-sync-settings {
      display: inline-flex;
      cursor: pointer;

      .sync-status-icon {
        margin-top: 2px;
        fill: $theme-gray-700;
      }
    }

    .sync-status-event-info,
    .event-status-timestamp {
      color: $theme-gray-700;
    }

    .event-status-timestamp {
      cursor: pointer;
    }
  }
}

.geo-node-actions {
  display: inline-flex;
  justify-content: center;
  float: right;

  .node-action-container {
    margin: 0 5px;

    &:last-child {
      margin-right: $gl-padding;
    }
  }

  @media (max-width: $screen-sm-max) {
    display: block;
    width: 100%;

    .node-action-container {
      width: 100%;
      margin: 0;
      margin-top: 10px;
      padding: 0 10px;
    }

    .btn-node-action {
      width: 100%;
    }
  }
}
