- return unless issuable.project.group&.feature_available?(:epics)

- if issuable.is_a?(Issue)
  .block.epic
    #js-vue-sidebar-item-epic
      .title.hide-collapsed
        Epic
        = icon('spinner spin')
